body {
    margin: 0;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
@mixin link {
    padding: 15px 7px 10px;
    border: none;
    background: none;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}
h1 {
    margin-top: 1px;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}
a {
    @include link;
}

.container {
    position: relative;
    margin: 45px auto;
    width: 795px;
}

.main-menu {
    position: relative;
    background: #eee;
    padding: 0.4em 0;

    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        display: inline-block;
        margin-right: 1em;
        list-style: none;
    }
}

.page-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.about {
    display: none;
}
.hero-unit {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.chart-list-container {
    margin: auto -6px;

    button {
        @include link;
    }
    .chart-list-content > a {
        box-sizing: border-box;
        display: inline-block;
        padding: 10px 6px 0;
        width: 50%;
        height: 300px;
        cursor: pointer;
    }
}

.chart-detail-container {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
